---
import { deleteProfile } from "@lib/courier";
import { updateSubscriberStatus } from "@lib/subscriber";

const subscriberId = Astro.params.subscriberId;

if (!subscriberId) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}

try {
  const subscriber = await updateSubscriberStatus(subscriberId, "unsubscribed");

  await deleteProfile(subscriber);
} catch (error) {
  console.error(error);

  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}
---

<!-- TODO: return a redirect to unsubscribe page -->
<h2>You have successfully unsubscribed.</h2>
