---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bad Request">
  <div class="grid place-items-center h-screen content-center">
    <h1 class="text-3xl">Bad Request!</h1>
    <p>We were unable to find that resource.</p>
  </div>
</Layout>
