---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <div class="grid place-items-center h-screen content-center">
    <h4 class="text-3xl">Resource Not Found!</h4>
    <p>We were unable to find that resource.</p>
  </div>
</Layout>
