---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Conflict">
  <div>
    <h4>You are already Subscribed!</h4>
    <p>
      We already have your email address on file. If you're not receiving
      emails, please check your spam folder.
    </p>
  </div>
</Layout>
