---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Internal Server Error">
  <div class="grid place-items-center h-screen content-center">
    <h4 class="text-3xl">Someting went wrong!</h4>
    <p>"We're not sure what happened. Please try again later."</p>
  </div>
</Layout>
