---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Internal Server Error">
  <div>
    <h4>Someting went wrong!</h4>
    <p>
      "We're not sure what happened, but we couldn't subscribe you. Please try
      again later."
    </p>
  </div>
</Layout>
