---
import Layout from "@layouts/Layout.astro";
import EmailSignupForm from "@components/EmailSignupForm.astro";
import { courier } from "@lib/courier";
import { SubscriberFactory, createSubscriber } from "@lib/subscriber";

interface SQLiteError extends Error {
  code: string;
}

function assertSQLiteError(error: unknown): asserts error is SQLiteError {
  if (typeof error === "object" && error !== null && "code" in error) {
    const e = error as SQLiteError;

    if (typeof e.code === "string") {
      return;
    }
  }

  throw error;
}

let alreadyExists = false;
let courierError = false;
let sqlError = false;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const email = data.get("email");

  // validate form data
  if (!email) {
    throw new Error("No email provided");
  }

  // create subscription entity object with status "pending"
  const subscriber = SubscriberFactory(email.toString());

  try {
    // create subscriber in db
    await createSubscriber(subscriber);
  } catch (error) {
    console.error(error);
    assertSQLiteError(error);
    if (
      error?.code === "SQLITE_CONSTRAINT" &&
      error.message.includes("UNIQUE constraint failed: users.email")
    ) {
      alreadyExists = true;
    }

    sqlError = true;
  }

  try {
    // create profile in Courier which adds the profile to Primary audience
    // and send a confirmation email to the user via an Automation
    await courier.createProfile(subscriber.email, subscriber.subscriberId);
  } catch (error) {
    console.error(error);
    courierError = true;
  }

  // redirect to success page
  // TODO: update page to show success message??
  if (!alreadyExists && !courierError && !sqlError) {
    Astro.response.status = 302;
    Astro.response.headers.set("Location", "/success");
  }
}
---

<Layout title="Cloud Spark - Home">
  <div class="grid place-items-center h-screen content-center">
    <div class="relative isolate pt-14">
      <div
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true"
      >
        <div
          class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ea580c] to-[#0ea5e9] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
      </div>
      <div class="py-24 sm:py-32 lg:pb-40">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h1
              class="text-4xl font-bold tracking-tight text-white sm:text-6xl"
            >
              Better <span
                class="bg-gradient-to-r from-orange-600 to-teal-100 bg-clip-text text-transparent"
                >AWS</span
              > solutions straight to your inbox.
            </h1>
            <p class="mt-6 text-lg leading-8">
              Gain exclusive insights, tutorials, and expert advice on the
              latest AWS techniques and strategies - all delivered straight to
              your inbox, free of charge. Subscribe to our newsletter and drive
              your cloud solutions forward.
            </p>
            <EmailSignupForm />
            {alreadyExists && <p>The email already exists.</p>}
            {courierError && <p>There was an error capturing your email.</p>}
            {sqlError && <p>There was an error capturing your email.</p>}
          </div>
        </div>
      </div>
      <div
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true"
      >
        <div
          class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ea580c] to-[#0ea5e9] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
      </div>
    </div>

    <!-- NOTE: THIS IS COOL ... LINK RIGHT TO A PAGE -->
    <!-- <a href="/markdown-page" class="p-4 underline"
          >Markdown is also supported...</a
        > -->
  </div>
</Layout>
@lib/subscriber @lib/types/subscriber
