---
export const prerender = true;
import Layout from "@layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");

  const blogResult = blogs.map((blog) => ({
    params: { blog: blog.slug },
    props: { blog },
  }));

  return [...blogResult];
}

export interface Props {
  blog: CollectionEntry<"blogs">;
}

const { blog } = Astro.props;

const { Content } = await blog.render();
---

<Layout title="Cloudspark - Blog">
  <div class="px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7">
      <h1 class="mt-2 mb-6 text-3xl font-bold tracking-tight sm:text-4xl">
        {blog.data.title}
      </h1>
      <div class="prose prose-invert max-w-none">
        <Content />
      </div>
    </div>
  </div>
</Layout>
