---
import BlogList from "@components/BlogList.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Cloudspark - Blog">
  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2
          class="text-3xl text-orange-600 font-bold tracking-tight sm:text-4xl"
        >
          Blog
        </h2>
        <BlogList />
      </div>
    </div>
  </div>
</Layout>
