---
import BlogList from "@components/BlogList.astro";
import { sendConfirmationEmail } from "@lib/courier";
import { createSubscriber } from "@lib/subscriber";
import { LibsqlError } from "@libsql/client";

let emailAlreadyExists = false;
let unknownError = false;

const data = await Astro.request.formData();
const email = data.get("email");
const givenName = data.get("given_name");

if (!email || !givenName) {
  Astro.response.status = 400;
  return;
}

try {
  const subscriber = await createSubscriber(
    email.toString(),
    givenName.toString()
  );

  await sendConfirmationEmail(subscriber);
} catch (error) {
  console.error(error);
  if (error instanceof LibsqlError) {
    if (error.message.includes("UNIQUE constraint failed: subscribers.email")) {
      emailAlreadyExists = true;
    }
  } else {
    unknownError = true;
  }
}
---

{
  emailAlreadyExists && (
    <div class="alert alert-warning">
      <h4 class="alert-heading">You're already subscribed!</h4>
      <p>
        We already have your email address on file. If you're not receiving
        emails, please check your spam folder.
      </p>
    </div>
  )
}

{
  unknownError && (
    <div class="alert alert-danger">
      <h4 class="alert-heading">Something went wrong!</h4>
      <p>
        We're not sure what happened, but we couldn't subscribe you. Please try
        again later.
      </p>
    </div>
  )
}

{
  !emailAlreadyExists && !unknownError && (
    <div class="py-24 sm:py-32 lg:pb-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h3 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
            Thank you for signing up to the Cloud Spark newsletter!
          </h3>
          <p class="mt-6 text-lg leading-8">
            Please check your email and confirm your subscription! Be sure to
            check out our existing newsletters and blogs:
          </p>
          <BlogList />
        </div>
      </div>
    </div>
  )
}
